.meme-form {
    display: grid;
    margin: 50px auto;
    width: 80%;
    grid-template: 40px 60px / 1fr 1fr;
    row-gap: 20px;
}


.meme-form input {
    width: 80%;
    margin: 0px auto;
}

.meme-form-button {
    width: 90%;
    margin: 0px auto;
    grid-column: 1/-1;
    grid-row: 2 2;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    
    font-size: 20px;
    font-weight: bold;

    border-radius: 7px;
    border-style: none;
    transition: 0.2s;
}

.meme-form-button:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: 0.2s;
    border-style: solid;
    border-width: 1px;
    border-color: #672280;
    color: #FDFDFD;
}

.meme-form-button:active {
    background: linear-gradient(90deg, #521b66 1.18%, #9021b8 100%);
    color: #DFDFDF;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}